<div class="x_content">
  <form #form="ngForm" (ngSubmit)="onSave(form)" class="form-horizontal form-label-left">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Mã Trường<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="code" ngModel required #code="ngModel" class="form-control">
        <div *ngIf="code.errors && code.touched" class="alert alert-danger">
          <div [hidden]="!code.errors.required">
            Vui lòng nhập mã trường
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên Trường<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="name" type="text"  ngModel #nameUni="ngModel" required class="form-control">
        <div *ngIf="nameUni.errors && nameUni.touched" class="alert alert-danger">
          <div [hidden]="!nameUni.errors.required">
            Vui lòng nhập tên trường
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại hình đào tạo<span class="required">*</span></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select class="form-control" name="train" #train="ngModel" required ngModel>
          <option value="1">Công lập</option>
          <option value="2">Dân lập</option>
        </select>
        <div *ngIf="train.errors && train.touched" class="alert alert-danger">
          <div [hidden]="!train.errors.required">
            Vui lòng nhập loại hình đào tạo
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" type="email" name="email" #email="ngModel" ngModel class="form-control" >
        <div *ngIf="email.errors && email.touched" class="alert alert-danger">
          <div [hidden]="!email.errors.pattern">
            Email của bạn không đúng.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Số điện thoại</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" name="phone" ngModel>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Khu Vực</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select2 [data]="listLocation | async"
                 (valueChanged)="getValueLocation($event)"></select2>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngành học</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!--Multiple choice-->
        <select2 [data]="listMajor | async"
                 [options]="options"
                 [value]="value"
                 (valueChanged)="getValueMajor($event)"></select2>
      </div>
    </div>
    <!--Upload IMG-->
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Logo Trường</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <file-uploader [name]="'logo'"></file-uploader>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Hình ảnh Trường</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <file-uploader [name]=""></file-uploader>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <textarea name="des" id="summernote" ngModel="" style="height: 150px" class="form-control" type="text"> </textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Độ ưu tiện</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" name="pri" ngModel>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group" style="text-align: center">
      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <button type="summit" [disabled]="!form.valid" class="btn btn-success">Lưu</button>
      </div>
    </div>
  </form>
</div>



