<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-white">
          <div>
            <form #form="ngForm" (ngSubmit)="onEdit(form)">
              <div  class="form-group">
                <label>Tiêu đề</label>
                <input  class="form-control" maxlength="200" minlength="20" name="title" #title="ngModel"  [ngModel]="question?.title" required>
                <div *ngIf="title.errors && (title.touched || form.submitted)" class="alert alert-danger">
                  <div [hidden]="!title.errors.required">
                    Vui lòng nhập tiêu đề câu hỏi
                  </div>
                  <div [hidden]="!title.errors.minlength">
                    Nhập ít nhất 20 ký tự
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Nội dung câu hỏi</label>
                <textarea id="summernote"></textarea>
                <div *ngIf="isCheck" class="alert alert-danger">
                  <div [hidden]="!isCheck">
                    Tối thiểu 50 ký tự
                  </div>
                </div>
              </div>
              <div style="text-align: center">
                <button class="btn btn-uni-primary" type="submit">Cập nhật câu hỏi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-white">
          <div class="bold" style="font-size: 15px"> Đặt câu hỏi như thế nào?</div>
          <div> Câu hỏi của bạn là về vấn đề học tập</div>
          <div>Cung cấp chi tiết câu hỏi cũng như các kiến thức của bạn</div>
          <div> Nếu câu hỏi liên quan đến trường học. Vui lòng đến phần bình luận của trường. Để được tư vấn nhanh hơn</div>
        </div>
      </div>
    </div>
  </div>
</div>

