<div *ngIf="listQuestion?.length != 0">
  <table class="table" id="myTable">
    <thead>
    <tr>
      <th style="width: 1%">STT</th>
      <th style="width: 20%">Tiêu đề</th>
      <th style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listQuestion | paginate: { itemsPerPage:10, currentPage: p }; let i = index">
      <td>{{i+1}}</td>
      <td>
        <a>{{item.title}}</a>
      </td>
      <td>
        <a (click)="viewDetail(item.id)" data-toggle="modal" data-target="#reviewDetail" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Xem </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center"><pagination-controls (pageChange)="p =$event" previousLabel=""
                                                nextLabel=""></pagination-controls></div>
</div>
<div *ngIf="listQuestion?.length == 0">
  Hiện không có câu hỏi nào đang chờ duyệt
</div>


<div class="modal fade" id="reviewDetail" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Thông tin câu hỏi</h3>
      </div>
      <div class="modal-body">
        <h4>Tiêu đề</h4>
        <div style="word-wrap: break-word;">
          {{question?.title}}
        </div>
        <h4>Nội dung</h4>
        <div [innerHTML]="question?.content | safeHtml" style="word-wrap: break-word;">
        </div>
        <h4>Thẻ</h4>
        <div style="display: inline-block">
           <span class="tag" *ngFor="let t of tags">
          {{t.tag.tagName}}
        </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="approveQuestion()" data-dismiss="modal">Duyệt</button>
        <button type="button" class="btn btn-danger" (click)="notApproveQuestion()" data-dismiss="modal">Không Duyệt</button>
      </div>
    </div>

  </div>
</div>

