<div id="main">
<div class="container">
  <div class="box box-white">
    <h2><b>{{article?.title}}</b></h2>
    <a style="color: #f05f40" *ngIf="article" [routerLink]="['/university',article?.universityId]">
      {{article?.universityName}}</a>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{article?.createDate | date: 'shortDate'}}</p>
    <p><strong>{{article?.description}}</strong></p>
    <div [innerHTML]="article?.contents"></div>
    <div style="margin-bottom: 20px; margin-top: 20px"><a style="color: #f05f40; text-decoration: none; font-size: 25px" *ngIf="article" [routerLink]="['/university',article?.universityId]">
      <i class="fa fa-forward" aria-hidden="true"></i>
      {{article?.universityName}}</a>
    </div>
    <div style="margin-bottom: 10px">
      <strong>Tags:</strong>
      <span *ngFor="let tag of tagArticle" style="padding: 7px; margin: 7px; border-radius: 15px; background: rgba(0, 0, 0, 0.05);">
      {{tag.majorName}}
      </span>
    </div>
  </div>
  <div class="company-profile">
    <div class="box-group-header">
      <div class="row">
        <div class="box-group-title col-xs-8"><span><strong>Tin Tức Liên Quan</strong></span></div>
      </div>
    </div>
    <div class="box box-white">
      <ul>
        <li *ngFor="let article of articleUni" class="list-article">
          <a href="/article-detail/{{article.id}}" style="color: black; text-align: justify; text-decoration: none">
          <img src="{{article.image}}">
          <b style="font-size: 14px; text-align: justify;">{{article.title}}</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>


